.vscode/launch.json
src/Api.Application/bin/Debug/net7.0/application
src/Api.Application/bin/Debug/net7.0/application.deps.json
src/Api.Application/bin/Debug/net7.0/application.dll
src/Api.Application/bin/Debug/net7.0/application.pdb
src/Api.Application/bin/Debug/net7.0/application.runtimeconfig.json
src/Api.Application/bin/Debug/net7.0/appsettings.Development.json
src/Api.Application/bin/Debug/net7.0/appsettings.json
src/Api.Application/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
src/Api.Application/bin/Debug/net7.0/Microsoft.OpenApi.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/Api.Application/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/Api.Application/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
src/Api.Application/obj/Debug/net7.0/apphost
src/Api.Application/obj/Debug/net7.0/application.AssemblyInfo.cs
src/Api.Application/obj/Debug/net7.0/application.AssemblyInfoInputs.cache
src/Api.Application/obj/Debug/net7.0/application.assets.cache
src/Api.Application/obj/Debug/net7.0/application.csproj.AssemblyReference.cache
src/Api.Application/obj/Debug/net7.0/application.csproj.CopyComplete
src/Api.Application/obj/Debug/net7.0/application.csproj.CoreCompileInputs.cache
src/Api.Application/obj/Debug/net7.0/application.csproj.FileListAbsolute.txt
src/Api.Application/obj/Debug/net7.0/application.dll
src/Api.Application/obj/Debug/net7.0/application.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Application/obj/Debug/net7.0/application.genruntimeconfig.cache
src/Api.Application/obj/Debug/net7.0/application.GlobalUsings.g.cs
src/Api.Application/obj/Debug/net7.0/application.MvcApplicationPartsAssemblyInfo.cache
src/Api.Application/obj/Debug/net7.0/application.MvcApplicationPartsAssemblyInfo.cs
src/Api.Application/obj/Debug/net7.0/application.pdb
src/Api.Application/obj/Debug/net7.0/staticwebassets.build.json
src/Api.Application/obj/Debug/net7.0/ref/application.dll
src/Api.Application/obj/Debug/net7.0/refint/application.dll
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.build.application.props
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.application.props
src/Api.Application/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.application.props
src/Api.Application/obj/application.csproj.nuget.dgspec.json
src/Api.Application/obj/application.csproj.nuget.g.props
src/Api.Application/obj/application.csproj.nuget.g.targets
src/Api.Application/obj/project.assets.json
src/Api.Application/obj/project.nuget.cache
src/Api.CrossCutting/bin/Debug/netstandard2.0/CrossCutting.deps.json
src/Api.CrossCutting/bin/Debug/netstandard2.0/CrossCutting.dll
src/Api.CrossCutting/bin/Debug/netstandard2.0/CrossCutting.pdb
src/Api.CrossCutting/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.AssemblyInfo.cs
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.AssemblyInfoInputs.cache
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.assets.cache
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.csproj.AssemblyReference.cache
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.csproj.CoreCompileInputs.cache
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.csproj.FileListAbsolute.txt
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.dll
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.GeneratedMSBuildEditorConfig.editorconfig
src/Api.CrossCutting/obj/Debug/netstandard2.0/CrossCutting.pdb
src/Api.Data/bin/Debug/netstandard2.0/Data.deps.json
src/Api.Data/bin/Debug/netstandard2.0/Data.dll
src/Api.Data/bin/Debug/netstandard2.0/Data.pdb
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.dgspec.json
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.g.props
src/Api.CrossCutting/obj/CrossCutting.csproj.nuget.g.targets
src/Api.CrossCutting/obj/project.assets.json
src/Api.CrossCutting/obj/project.nuget.cache
src/Api.Data/obj/Data.csproj.nuget.dgspec.json
src/Api.Data/obj/Data.csproj.nuget.g.props
src/Api.Data/obj/Data.csproj.nuget.g.targets
src/Api.Data/obj/project.assets.json
src/Api.Data/obj/project.nuget.cache
src/Api.Data/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/Api.Data/obj/Debug/netstandard2.0/Data.AssemblyInfo.cs
src/Api.Data/obj/Debug/netstandard2.0/Data.AssemblyInfoInputs.cache
src/Api.Data/obj/Debug/netstandard2.0/Data.assets.cache
src/Api.Data/obj/Debug/netstandard2.0/Data.csproj.AssemblyReference.cache
src/Api.Data/obj/Debug/netstandard2.0/Data.csproj.CoreCompileInputs.cache
src/Api.Data/obj/Debug/netstandard2.0/Data.csproj.FileListAbsolute.txt
src/Api.Data/obj/Debug/netstandard2.0/Data.dll
src/Api.Data/obj/Debug/netstandard2.0/Data.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Data/obj/Debug/netstandard2.0/Data.pdb
src/Api.Service/bin/Debug/netstandard2.0/Service.deps.json
src/Api.Service/bin/Debug/netstandard2.0/Service.dll
src/Api.Service/bin/Debug/netstandard2.0/Service.pdb
src/Api.Service/obj/project.assets.json
src/Api.Service/obj/project.nuget.cache
src/Api.Service/obj/Service.csproj.nuget.dgspec.json
src/Api.Service/obj/Service.csproj.nuget.g.props
src/Api.Service/obj/Service.csproj.nuget.g.targets
src/Api.Service/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
src/Api.Service/obj/Debug/netstandard2.0/Service.AssemblyInfo.cs
src/Api.Service/obj/Debug/netstandard2.0/Service.AssemblyInfoInputs.cache
src/Api.Service/obj/Debug/netstandard2.0/Service.assets.cache
src/Api.Service/obj/Debug/netstandard2.0/Service.csproj.AssemblyReference.cache
src/Api.Service/obj/Debug/netstandard2.0/Service.csproj.CoreCompileInputs.cache
src/Api.Service/obj/Debug/netstandard2.0/Service.csproj.FileListAbsolute.txt
src/Api.Service/obj/Debug/netstandard2.0/Service.dll
src/Api.Service/obj/Debug/netstandard2.0/Service.GeneratedMSBuildEditorConfig.editorconfig
src/Api.Service/obj/Debug/netstandard2.0/Service.pdb
src/App.Domain/bin/Debug/netstandard2.0/Domain.deps.json
src/App.Domain/bin/Debug/netstandard2.0/Domain.dll
src/App.Domain/bin/Debug/netstandard2.0/Domain.pdb
src/App.Domain/obj/Debug/netstandard2.0/Domain.AssemblyInfo.cs
src/App.Domain/obj/Debug/netstandard2.0/Domain.AssemblyInfoInputs.cache
src/App.Domain/obj/Debug/netstandard2.0/Domain.assets.cache
src/App.Domain/obj/Debug/netstandard2.0/Domain.csproj.AssemblyReference.cache
src/App.Domain/obj/Debug/netstandard2.0/Domain.csproj.CoreCompileInputs.cache
src/App.Domain/obj/Debug/netstandard2.0/Domain.csproj.FileListAbsolute.txt
src/App.Domain/obj/Debug/netstandard2.0/Domain.dll
src/App.Domain/obj/Debug/netstandard2.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
src/App.Domain/obj/Debug/netstandard2.0/Domain.pdb
src/App.Domain/obj/Domain.csproj.nuget.dgspec.json
src/App.Domain/obj/Domain.csproj.nuget.g.props
src/App.Domain/obj/Domain.csproj.nuget.g.targets
src/App.Domain/obj/project.assets.json
src/App.Domain/obj/project.nuget.cache
